.text-field{
    -fx-background-radius: 10px;   
}

.button{
    -fx-background-radius: 15px;
    -fx-background-color: rgb(196, 194, 194);
}

#btCompra{  
    -fx-background-radius: 20px;
    -fx-background-color: silver;
    -fx-border-radius: 20px;
    -fx-border-color: black;
}

#btCadastro{
    -fx-background-radius: 20px;
    -fx-background-color: silver;
    -fx-border-radius: 20px;
    -fx-border-color: black;
}

#btLista{
    -fx-background-radius: 20px;
    -fx-background-color: silver;
    -fx-border-radius: 20px;
    -fx-border-color: black;   
}

.list-view{
    -fx-border-color: rgb(43, 42, 42);
    
}